<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tct.mapper.DeviceGunCustomMapper">
	<select id="selectByDeviceGunQueryVo" parameterType="com.tct.po.DeviceGunQueryVo" resultType="com.tct.po.DeviceGunCustom">
		SELECT * FROM device_gun
		<where>
			<if test="deviceGunCustom!=null and deviceGunCustom.gunMac !=null">
				gun_mac=#{deviceGunCustom.gunMac}
			</if>
		</where>
	</select>
	<select id="selectDeviceNoByDeviceGunQueryVo" parameterType="com.tct.po.DeviceGunQueryVo" resultType="com.tct.po.DeviceGunCustom">
		SELECT * FROM device_gun
		<where>
			<if test="deviceGunCustom!=null and deviceGunCustom.gunMac !=null">
				gun_mac=#{deviceGunCustom.gunMac} AND state=0
			</if>
		</where>
	</select>
</mapper>