<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tct.mapper.GunCustomMapper">
	<update id="updateSelective" parameterType="com.tct.po.GunCustom">
		update gun
		<set>
			<if test="gunTag!=null">
				gun_tag=#{gunTag},
			</if>
			<if test="bluetoothMac !=null">
				bluetooth_mac=#{bluetoothMac},
			</if>
			<if test="warehouseName!=null">
				warehouse_name=#{warehouseName},
			</if>
			<if test="warehouseId!=null">
				warehouse_id=#{warehouseId},
			</if>
			<if test="bulletNumber!=null">
				bullet_number=#{bulletNumber},
			</if>
			<if test="state!=null">
				state=#{state},
			</if>
			<if test="realTimeState!=null">
				real_time_state=#{realTimeState},
			</if>
			<if test="createTime!=null">
				create_time=#{createTime},
			</if>
			<if test="updateTime!=null">
				update_time=#{updateTime},
			</if>
			<if test="version!=null">
				version=#{version},
			</if>
			<if test="total_bullet_number!=null">
				total_bullet_number=#{totalBulletNumber}
			</if>
		</set>
		where bluetooth_mac=#{bluetoothMac}
	</update>
	
	<select id="selectBybluetoothMac" parameterType="com.tct.po.GunQueryVo" resultType="com.tct.po.GunCustom">
				select id,web_id webId,gun_tag gunTag,bluetooth_mac bluetoothMac,warehouse_name warehouseName,warehouse_id warehouseId,bullet_number bulletNumber,state,real_time_state realTimeState,create_time createTime,update_time updateTime,version from gun
		<where>
			<if test="gunCustom!=null and gunCustom.bluetoothMac!=null">
				bluetooth_mac=#{gunCustom.bluetoothMac}
			</if>
		</where>
	</select>
	
	<select id="selectByGunTag" parameterType="com.tct.po.GunQueryVo" resultType="com.tct.po.GunCustom">
		select id,web_id webId,gun_tag gunTag,bluetooth_mac bluetoothMac,warehouse_name warehouseName,warehouse_id warehouseId,bullet_number bulletNumber,state,real_time_state realTimeState,create_time createTime,update_time updateTime,version  from gun
		<where>
			<if test="gunCustom!=null and gunCustom.gunTag!=null">
				gun_tag=#{gunCustom.gunTag}
			</if>
		</where>
	</select>
</mapper>